section#contacts
    .contacts
        h2.contacts--title= page.contacts.name
        p.contacts--phone
            a.contacts--phone-link(href="tel:"+organization.phone.link)
                span.icon.icon-mobile
                | #{organization.phone.tel}
        p.contacts--email
            a.contacts--email-link(href="mailto:"+organization.email)
                span.icon.icon-mail
                | #{organization.email}