section#pageSocials
    .socials
        h2.socials--title Мы в соц сетях
        for sg in organization.socialGroups
            a(href=sg.link target="_blank").socials_link
                span(class="icon-"+sg.icon).socials_link_icon