nav
    button(type="button").mobile-menu_btn.icon-mobile-menu#mobileMenuBtn
    ul.menu
        for m in menu
            if(!m.innerPages)
                li.menu_item
                    a(href=m.link rel="index, follow").menu_item_link= m.title
            else
                li.menu_item
                    a(href=m.link onclick="return false;" rel="noindex, nofollow").menu_item_link= m.title
                    ul.inner-menu
                        for im in m.innerPages
                            li.inner-menu_item
                                a(href=im.link).inner-menu_item_link= im.title