.mobile-menu
    nav
        ul.mobile-menu_list
            for mm in menu
                if(!mm.innerPages)
                    li.mobile-menu_list_item
                        a(href=mm.link).mobile-menu_list_item_link= mm.title
                else
                    li.mobile-menu_list_item.has-menu
                        a(href="#").mobile-menu_list_item_link= mm.title
                        ul.mobile-inner-menu
                            for imm in mm.innerPages
                                li.mobile-inner-menu_item
                                    a(href=imm.link).mobile-inner-menu_item_link= imm.title

    button.mobile-inner-menu_return.icon-return-btn#innerMenuReturnBtn(type="button")
    button.mobile-menu_close.icon-close-btn#mMenuCloseBtn(type="button")