#modalCallback
    .callback-wrapper
        h2.callback-title Оставьте свой номер телефона и мы Вам перезвоним
        #note
        form.callback-form(method="post" action="/")
            input(type="text" placeholder="Имя" name="userName")
            input(type="text" placeholder="Номер телефона" name="userPhone" value="+7(").maskedPhone
            textarea(placeholder="Ваше сообщение..." name="userText").callback-form_comment
            label.callback-form_agreement
                input(type="checkbox" checked name="userAgree").callback-form_agreement_check-btn
                | Я принимаю <a href="/terms.html" title="Условия соглашения" target="_blank">условия политики конфиденциальности</a>
            div.callback-form_submit
                button(type="submit").callback-form_submit_btn Отправить
        button.callback-close.icon-close-btn#modalCallbackCloseBtn(type="button")
        .callback-pattern
#modalBackground