@media all and (min-width: 320px) {
	.product-card {
		color #0e0f0f
		font-size 20px

		&__title {
		  margin 8px 0
		  font-size: 32px
		  text-transform uppercase
		}

		.title {
		  display block
		  margin-bottom 5px
		}

		&__desc {
		  color #000
		  line-height 1.5
		}
	}
}