address
    .contacts
        a(href=organization.address.ymap target="_blank").contacts_address <span>г.#{organization.address.city}</span> #{organization.address.street}
        br
        a(href="mailto:"+organization.email).contacts_mail= organization.email
        br
        a(href="tel:"+organization.phone.link).contacts_phone= organization.phone.tel