section#services
    .container
        .row
            .col.col-12
                h2.services-title Виды работ
            .col.col-12.services
                for s in about.services
                    .service-card
                        .service-card_body
                            img.service-card--photo(src="/img/pages/about/services/"+s.pic alt=s.picAlt)
                        .service-card_footer
                            h3.service-card--title= s.title
