extends tmpl/template

block pageMeta
    +meta("keywords", page.contacts.metaKeywords)
    +meta("description", page.contacts.metaDescription)

block pageTitle
    title= page.contacts.pageTitle

block head
    include modules/mobile-menu
    .container
        .row.align-items-center
            .col.col-9.col-lg-5
                include modules/header/logo
            .col.col-3.col-lg-5.col-xl-4
                include modules/header/menu
            .col.col-lg-2.col-xl-3
                include modules/header/callback

block content
    .container
        .row.justify-content-center
            .col.col-12.col-md-6
                include modules/contacts/contacts
                include modules/contacts/address
            .col.col-12.col-md-6
                include modules/contacts/socials
    include modules/contacts/map

block footer
    .container
        .row.align-items-center
            .col.col-lg-12
                .row.align-items-center
                    .col.col-lg-3.d-none.d-lg-block
                        include modules/footer/logo
                    .col.col-12.col-lg-7.order-2.order-lg-1
                        .wrapper
                            .wrapper-inner
                                include modules/footer/menu
                                include modules/footer/contacts
                            include modules/footer/socials
                    .col.col-12.col-lg-2.order-1.order-lg-2
                        include modules/footer/callback
    include modules/footer/copyright