@import "../css/bootstrap/bootstrap-grid.min.css"

@import "fonts.styl"

@media all and (min-width:320px) {
	body {
		margin 0
		padding 0
		line-height 1.2
		background-color #ffffff
		font normal 20px/30px 'PT Sans'
		#jsStickyHeader.fixed {
			top 0
			left 0
			right 0
			z-index 2
			position fixed
			background-color #ffffff
			box-shadow 1px 1px 1px 1px #dadada
		}
		header {
			z-index 2
		}
		main, footer {
			z-index 1
		}
		header, main, footer {
			position relative
		}
	}
}

.page-title {
	display none
	color #0e0f0f
	line-height 1.2
	font-weight 500
	text-align center
	text-transform uppercase
}

@import "modules/logo.styl"

@import "modules/menu.styl"

@import "modules/inner-menu.styl"

@import "modules/catalog.styl"

@import "modules/callback.styl"

@import "modules/modal-callback.styl"

@import "modules/footer.styl"

@import "modules/terms/rules.styl"

@import "modules/about.styl"

@import "modules/contacts.styl"

@import "modules/product.styl"