/* cyrillic-ext */
@font-face {
	font-family 'PT Sans'
	font-style italic
	font-weight 400
	font-display swap
	src local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v11/jizYRExUiTo99u79D0e0ysmIEDQ.woff2) format('woff2')
	unicode-range U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}
/* cyrillic */
@font-face {
	font-family 'PT Sans'
	font-style italic
	font-weight 400
	font-display swap
	src local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v11/jizYRExUiTo99u79D0e0w8mIEDQ.woff2) format('woff2')
	unicode-range U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}
/* latin-ext */
@font-face {
	font-family 'PT Sans'
	font-style italic
	font-weight 400
	font-display swap
	src local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v11/jizYRExUiTo99u79D0e0ycmIEDQ.woff2) format('woff2')
	unicode-range U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}
/* latin */
@font-face {
	font-family 'PT Sans'
	font-style italic
	font-weight 400
	font-display swap
	src local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v11/jizYRExUiTo99u79D0e0x8mI.woff2) format('woff2')
	unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}
/* cyrillic-ext */
@font-face {
	font-family 'PT Sans'
	font-style normal
	font-weight 400
	font-display swap
	src local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0-ExdGM.woff2) format('woff2')
	unicode-range U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}
/* cyrillic */
@font-face {
	font-family 'PT Sans'
	font-style normal
	font-weight 400
	font-display swap
	src local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0aExdGM.woff2) format('woff2')
	unicode-range U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
	font-family 'PT Sans'
	font-style normal
	font-weight 400
	font-display swap
	src local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0yExdGM.woff2) format('woff2')
	unicode-range U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}
/* latin */
@font-face {
	font-family 'PT Sans'
	font-style normal
	font-weight 400
	font-display swap
	src local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0KExQ.woff2) format('woff2')
	unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

/* unique font for dobryak-project */
@font-face {
	font-family 'dobryak'
	src url('/fonts/dobryak.ttf?6rslwl') format('truetype'), url('/fonts/dobryak.woff?6rslwl') format('woff'), url('/fonts/dobryak.svg?6rslwl#dobryak') format('svg')
	font-weight normal
	font-style normal
	font-display block
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family 'dobryak' !important
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1

	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
}

.icon-close-btn:before {
	content "\e900"
}
.icon-logo:before {
	content "\e901"
}
.icon-mobile-menu:before {
	content "\e902"
}
.icon-more-btn:before {
	content "\e903"
}
.icon-return-btn:before {
	content "\e904"
}
.icon-vk:before {
	content "\e905"
}
.icon-fb:before {
	content "\e906"
}
.icon-in:before {
	content "\e907"
}
.icon-mail:before {
	content "\e908"
}
.icon-mobile:before {
	content "\e909"
}
.icon-youtube:before {
	content "\e90a"
}