include mixins
doctype html
html(lang="zxx")
    head
        meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
        +meta("viewport", "width=device-width, initial-scale=1")
        block pageMeta
        block pageTitle

        link(href="/css/styles.min.css" rel="preload" as="style")
        link(href="/js/app.min.js" rel="preload" as="script")

        link(href="/css/styles.min.css" rel="stylesheet")

        +meta("author", developer.name)
        +meta("copyright", developer.copyright)
    body
        header#jsStickyHeader
            block head
        main
            block content
        footer
            block footer
        include ../modules/modal-callback
        script(src="/js/app.min.js")