@media all and (min-width: 320px) {
	.callback {
		margin-top 25px
		justify-content flex-end
		&.fixed {
			left 0
			bottom 0
			width 100%
			padding 10px
			position fixed
			background-color #504e4e
		}
		&_btn,
		&_calling {
			outline 0
			width 120px
			color #262626
			cursor pointer
			padding 10px 0
			text-align center
			border 1px solid #E8D6A0
			text-transform uppercase
			background-color #E8D6A0
			font normal 16px/16px 'PT Sans'
		}
		&_btn {
			padding 0
		}
		&_calling {
			padding 10px 0
		}
	}
	header {
		.callback {
			display none
		}
	}
	footer {
		.callback {
			display flex
			&_btn {
				margin-left auto
				&:hover {
					color #a99b74
					background-color #e8d6a0
				}
			}
			&_calling {
				text-decoration none
				&:hover {
					color #a99b74
					background-color #e8d6a0
				}
			}
		}
	}
}

@media all and (min-width: 576px) {
	.callback {
		&_btn,
		&_calling {
			width 150px
		}
	}
}

@media all and (min-width: 992px) {
	.callback {
		margin-top 0
		&.fixed {
			position static
		}
		&_btn {
			color #0E0F0F
			cursor pointer
			padding 10px 25px
			border 1px solid #E8D6A0
			background-color transparent
		}
		&_calling {
			display none
		}
	}
	
	header {
		.callback {
			display flex
			&_btn {
				&:hover {
					color #a99b74
					background-color #e8d6a0
				}
			}
		}
	}
	
	footer {
		.callback {
			display flex
			&_btn {
				color #ffffff
				&:hover {
					color #a99b74
					background-color #e8d6a0
				}
			}
		}
	}
}