@media all and (min-width: 320px) {
	#catalog {
		margin-bottom 35px
		.catalog {
			display grid
			grid-template-columns repeat(12, auto)
			&_item {
				grid-column-start span 12
				.item {
					&_link{
						text-decoration none
						&_pic {
							width 100%
							height 380px
							object-fit cover
						}
						&_title {
							margin 5px 0
							color #0e0f0f
							font-size 20px
							line-height 26px
							text-transform uppercase
						}
						&_price {
							margin 5px 0
							color #8D8D8D
						}
					}
				}
			}
		}
	}
}

@media all and (min-width: 768px) {
	#catalog {
		.catalog {
			&_item {
				margin 5px
				grid-column-start span 6
				&:nth-child(2n+1) {
					margin-left 0
				}
				&:nth-child(2n) {
					margin-right 0
				}
			}
		}
	}
}

@media all and (min-width: 992px) {
	#catalog {
		.catalog {
			&_item {
				&:nth-child(2n+1) {
					margin-left 5px
				}
				&:nth-child(2n) {
					margin-right 5px
				}
				&:nth-child(1),
				&:nth-child(2) {
					grid-column-start span 6
				}
				&:nth-child(1),
				&:nth-child(3),
				&:nth-child(5),
				&:nth-child(6),
				&:nth-child(9),
				&:nth-child(11){
					margin-left 0
				}
				&:nth-child(2),
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(8),
				&:nth-child(10),
				&:nth-child(14){
					margin-right 0
				}
				&:nth-child(3) {
					grid-column-start span 4
				}
				&:nth-child(4) {
					grid-column-start span 8
				}
				&:nth-child(5) {
					grid-column-start span 12
				}
				&:nth-child(6),
				&:nth-child(7),
				&:nth-child(8) {
					grid-column-start span 4
				}
				&:nth-child(9) {
					grid-column-start span 4
				}
				&:nth-child(10) {
					grid-column-start span 8
				}
				&:nth-child(11),
				&:nth-child(12),
				&:nth-child(13),
				&:nth-child(14) {
					grid-column-start span 3
				}
			}
		}
	}
}