@media all and (min-width:320px) {
	footer {
		background-color #504E4E
		.wrapper {
			display flex
			align-items center
			flex-direction column
			justify-content center
			&-inner {
				width 100%
				display flex
				align-items center
				justify-content space-between
			}
		}
	}
}

@media all and (min-width: 992px) {
	footer {
		padding 25px 0 0
		.wrapper {
			flex-direction row
			&-inner {
				width 295px
				margin-right 45px
			}
		}
	}
}

@media all and (min-width: 1200px) {
	footer {
		.wrapper {
			justify-content space-between
			&-inner {
				margin-right 0
			}
		}
	}
}

@import "footer/contacts.styl"

@import "footer/socials.styl"

@import "footer/copyright.styl"

@import "footer/logo.styl"