@media all and (min-width: 320px) {
	.mobile-inner-menu {
		top 0
		z-index 2
		left 100%
		width 100%
		display flex
		min-height 100%
		list-style none
		position absolute
		flex-direction column
		background-color #fff
		align-items flex-start
		justify-content center
		padding 40px 25px 15px
		transition .5s ease-in-out
		&_return {
			border 0
			top 10px
			left 100%
			padding 0
			z-index 3
			color #0e0f0f
			cursor pointer
			font-size 20px
			position absolute
			transition .5s ease-in-out
			background-color transparent
		}
		&_item {
			&_link {
				color #0e0f0f
				text-decoration none
				text-transform uppercase
				&:hover {
					text-decoration underline
				}
			}
		}
	}
	.menu {
		&_item {
			.inner-menu {
				display none
			}
			&:hover {
				.inner-menu {
					z-index 1
					display block
					font-size 12px
					list-style none
					line-height 17px
					background-color #ffffff
					padding 20px 60px 20px 20px
					&_item {
						padding-bottom 10px
						&_link {
							color: #000000;
							text-decoration: none;
							&:hover {
								text-decoration underline
							}
						}
						&:last-child {
							padding-bottom 0
						}
					}
				}
			}
		}
	}
	header {
		.menu {
			&_item {
				&:hover {
					.inner-menu {
						position absolute
					}
				}
			}
		}
	}
	footer {
		.menu {
			&_item {
				&:hover {
					.inner-menu {
						display none
					}
				}
			}
		}
	}
}