@media all and (min-width: 320px) {
	.logo {
		margin-top -25px
		flex-direction row
		align-items center
		text-decoration none
	}
	header {
		.logo {
			display flex
			.icon-logo {
				color #000000
				font-size 80px
				margin-top 5px
			}
			&_pattern {
				display none
			}
		}
	}
	footer {
		.logo {
			display none
		}
	}
}

@media all and (min-width: 576px) {
	header {
		.logo {
			&_pattern {
				display block
				margin-top 25px
				margin-left -25px
			}
		}
	}
}

@media all and (min-width: 992px) {
	header {
		.logo {
			&_pic {
				margin 0
				padding 0
			}
		}
	}
	footer {
		.logo {
			display flex
		}
	}
}