@media all and (min-width: 320px) {
	.mobile-menu {
		top 0
		left 100%
		z-index 1
		width 100%
		font-size 16px
		position fixed
		background-color #ffffff
		transition .5s ease-in-out
		&_list {
			margin 0
			list-style none
			padding 40px 25px 15px
			&_item {
				&.has-menu {
					.mobile-menu_list_item_link {
						position relative
						&:after {
							top 2px
							speak none
							color #0e0f0f
							line-height 1
							font-size 16px
							cursor pointer
							content '\e903'
							margin-left 10px
							position absolute
							font-style normal
							font-weight normal
							font-family dobryak
							font-variant normal
							text-transform none
							/* Better Font Rendering =========== */
							-webkit-font-smoothing antialiased
							-moz-osx-font-smoothing grayscale
						}
					}
				}
				&_link {
					color #0e0f0f
					text-decoration none
					text-transform uppercase
					&:hover {
						text-decoration underline
					}
				}
			}
		}
		&_btn {
			border 0
			outline 0
			padding 0
			display block
			color #0e0f0f
			cursor pointer
			font-size 21px
			margin-left auto
			background-color transparent
		}
		&_close {
			top 10px
			border 0
			outline 0
			padding 0
			z-index 3
			right 15px
			color #0e0f0f
			font-size 20px
			cursor pointer
			position absolute
			background-color transparent
		}
	}
	
	.menu {
		padding 0
		font-size 12px
		list-style none
		line-height 16px
		text-transform uppercase
		&_item {
			&_link {
				text-decoration none
				&:hover {
					text-decoration underline
				}
			}
		}
	}
	
	header {
		.menu {
			display none
		}
	}
	
	footer {
		.menu {
			display flex
			flex-direction column
			&_item {
				padding-bottom 10px
				&:last-child {
					padding-bottom 0
				}
				&_link {
					color #f7f7f7
				}
			}
		}
	}
}

@media all and (min-width: 992px) {
	.mobile-menu {
		display none
		&_btn {
			display none
		}
	}
	header {
		padding 30px 0
		.menu {
			display flex
			font-size 16px
			line-height 22px
			margin 0 -25px 0 0
			justify-content center
			&_item {
				padding-right 15px
				&:last-child {
					padding-right 0
				}
				&_link {
					color #0e0f0f
				}
			}
		}
	}
	
	footer {
		.menu {
			text-align left
			&_item {
				padding-bottom 10px
				&:last-child {
					padding-bottom 0
				}
				&_link {
					color #f7f7f7
				}
			}
		}
	}
}