@media all and (min-width: 320px) {
	#modalCallback {
		left 0
		top 100%
		z-index 3
		width 100%
		height 100%
		display flex
		position fixed
		align-items center
		flex-direction column
		justify-content center
		background-color #ffffff
		transition .5s ease-in-out
		.callback {
			&-wrapper {
				padding 15px
				display flex
				align-items center
				margin-bottom 94px
				flex-direction column
				justify-content center
				background-color #ffffff
				&_thanks {
					text-align center
				}
				#note {
					width 260px
					margin 5px 0 15px 0
					.error {
						padding 10px
						color #610000
						font-size 12px
						line-height 1.5
						border-radius 2px
						background-color rgba(189, 0, 0, 0.42)
					}
				}
			}
			&-pattern {
				left 0
				bottom 0
				width 100%
				height 10%
				position absolute
				background-size contain
				background-image url(/img/backgrounds/bg_modal-footer.png)
			}
			&-title {
				width 300px
				color #000000
				font-size 18px
				line-height 23px
				text-align center
				margin-bottom 5px
				text-transform uppercase
				&_thanks {
					margin-top 0
					font-size 48px
					font-weight normal
					&-more {
						font-size 16px
						margin-bottom 0
						font-weight 300
					}
				}
			}
			&-form {
				display flex
				width 260px
				flex-direction column
				input {
					padding 8px
					margin-bottom 15px
					border-radius 2px
					border 1px solid #A4A4A4
					font 12px/18px 'PT Sans'
					&:last-child {
						margin-bottom 0
					}
				}
				&_comment {
					padding 8px
					resize none
					min-width 100%
					max-width 100%
					min-height 117px
					max-height 117px
					border-radius 2px
					font 12px/18px 'PT Sans'
					border 1px solid #A4A4A4
				}
				&_agreement {
					font-size 12px
					line-height 18px
					&_check-btn {
						float left
						margin-right 10px
					}
				}
				&_submit {
					margin-top 25px
					text-align center
					&_btn {
						outline 0
						font-size 14px
						border 1px solid #E8D6A0
						line-height 18px
						padding 9px 26px
						text-transform uppercase
						background-color transparent
					}
				}
			}
			&-close {
				border 0
				top 15px
				padding 0
				right 15px
				font-size 20px
				cursor pointer
				position absolute
				background-color transparent
			}
		}
	}
}

@media all and (min-height: 480px) {
	#modalCallback {
		.callback {
			&-wrapper {
				margin 0 auto
			}
			&-pattern {
				display none
			}
		}
	}
}

@media all and (min-height: 560px) {
	#modalCallback {
		.callback {
			&-pattern {
				display block
			}
		}
	}
}
@media all and (min-width: 992px) {
	#modalCallback {
		top 100%
		left 0
		width 100%
		height 100%
		transition .75s ease-in-out
		background-color transparent
		.callback {
			&-wrapper {
				width 500px
				min-height 440px
				margin-bottom 0
				position relative
				padding-right 15px
				align-items flex-end
				&_thanks {
					width 300px
				}
				&:before {
					left 0
					content ''
					width 160px
					height 100%
					display block
					position absolute
					background-image url(/img/backgrounds/bg_modal-footer.png)
				}
				#note {
					margin 0 25px 0 0
				}
			}
			&-form {
				margin-top 10px
				margin-right 25px
				&_agreement {
					margin-top 15px
				}
				&_submit {
					&_btn {
						cursor pointer
						&:hover {
							color #a99b74
							background-color #e8d6a0
						}
					}
				}
			}
			&-close {
				opacity 1
				top -25px
				right -25px
				cursor pointer
				transition 1s ease-in-out
				&:hover {
					opacity 0.8
				}
			}
			&-pattern {
				display none
			}
		}
	}
	#modalBackground {
		top 0
		z-index 0
		opacity 0
		width 100%
		height 100%
		position fixed
		transition .75s ease-in-out
		background-color rgba(25,25,25,0.7)
	}
}