extends ../tmpl/products/template

block pageMeta
    +meta("keywords", "Мета, ключи,для,товара")
    +meta("description", "Описание товара")

block pageTitle
    title Заголовок для страницы товара

block main
    +productTemplate
    +worksStages