section#catalog
    h2.page-title Столярная мастерская "Добряк"
    for c in catalog
        .catalog
            for ci in c
                .catalog_item
                    a(href="/catalog/"+ci.link).item_link
                        img.item_link_pic(src=ci.picExit alt=ci.picAlt data-src="/img/catalog/"+ci.pic)
                        p.item_link_title= ci.title
                        p.item_link_price &#8381; #{ci.price}