@media all and (min-width: 320px) {
  #services {
    padding 50px 0 20px
    background-color #262626
    .service {
      &s {
        display grid
        grid-template-columns 1fr
        &-title {
          color #ffffff
          font-size 24px
          text-transform uppercase
        }
      }

      &-card {
        margin-bottom 30px
        &--photo {
          width 100%
          object-fit cover
        }
        &--title {
          margin-top 0
          color #ffffff
          font-size 16px
          margin-bottom 0
          text-align center
          text-transform uppercase
        }
      }
    }
  }
}


@media all and (min-width: 576px) {
  #services {
    .service {
      &-card {
        &--title {
          font-size inherit
        }
      }
    }
  }
}


@media all and (min-width: 768px) {
  #services {
    .service {
      &s {
        grid-template-columns 1fr 1fr
      }
      &-card {
        &:nth-child(2n) {
          .service-card_body {
            padding-left 15px
          }
        }
        &:nth-child(2n+1) {
          .service-card_body {
            padding-right 15px
          }
        }
        &--title {
          font-size 16px
        }
      }
    }
  }
}


@media all and (min-width: 992px) {
  #services {
    .service {
      &-card {
        &--title {
          font-size inherit
        }
      }
    }
  }
}