@media all and (min-width: 320px) {
	address {
		margin-top 25px
		text-align right
		font-style normal
		.contacts {
			font-size 12px
			line-height 16px
			a {
				color #f7f7f7
				display inline-block
				padding-bottom 10px
				text-decoration none
				&:last-child {
					padding-bottom 0
				}
				&:hover {
					text-decoration underline
				}
				span {
					display block
				}
			}
			&_address {
				color #f7f7f7
				text-transform uppercase
			}
		}
	}
}

@media all and (min-width: 992px) {
	address {
		margin-top 0
		text-align left
		.contacts {
			a {
				span {
					display none
				}
			}
		}
	}
}