@media all and (min-width: 320px) {
	.copyright {
		text-align center
		&_desc {
			color #f7f7f7
			font-size 14px
			line-height 21px
			display inline-block
		}
	}
}

@media all and (min-width: 992px) {
	.copyright {
		margin-top 25px
		min-height 100px
		text-align left
		background-image url("/img/backgrounds/bg_footer.png")
		&_desc {
			padding 0 5px
			margin-top 25px
			margin-left 13px
			background-color #504e4e
		}
	}
}