@media all and (min-width: 320px) {
	.socials {
		height 35px
		margin-top 25px
		text-align center
		&_link {
			margin-right 10px
			display inline-block
			text-decoration none
			&:last-child {
				margin-right 0
			}
			&_icon {
				font-size 35px
				color #ffffff
			}
		}
	}
	#pageSocials {
		.socials {
			&--title {
				font-size 20px
				margin-bottom 5px
				text-transform uppercase
			}
			&_link {
				&_icon {
					color #0e0f0f
				}
			}
		}
	}
}

@media all and (min-width: 992px) {
	.socials {
		margin-top 0
		text-align left
		&_link {
			transform scale(1)
			transition .4s ease-in-out
			&:hover {
				transform scale(1.2)
			}
		}
	}
}