@media all and (min-width: 320px) {
  #address {
    margin-top 35px
    .address {
      text-align center
      &--title {
        font-size 20px
        margin-bottom 5px
        text-transform uppercase
      }
      &--text {
        margin-top 0
        font-size 16px
        margin-bottom -10px
      }
      &--place {
        margin-top 0
        font-size 16px
      }
    }
  }
}

@media all and (min-width: 768px) {
  #address {
    .address {
      text-align left
    }
  }
}