@media all and (min-width: 320px) {
  #contacts {
    margin-top 35px
    .contacts {
      text-align center
      &--title {
        font-size 20px
        margin-bottom 5px
        text-transform uppercase
      }
      &--phone {
        margin-top 0
        font-size 16px
        margin-bottom 0
        &-link {
          color #0e0f0f
          text-decoration none
          .icon {
            padding-right 5px
            &-mobile {
              &:before {
                top 3px
                font-size 22px
                position relative
              }
            }
          }
          &:hover {
            color #504e4e
          }
        }
      }
      &--email  {
        margin-top 0
        font-size 16px
        &-link {
          color #0e0f0f
          text-decoration none
          &:hover {
            color #504e4e
          }
          .icon {
            padding-right 5px
            &-mail {
              &:before {
                top 3px
                font-size 22px
                position relative
              }
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  #contacts {
    margin-top 0
    .contacts {
      text-align left
    }
  }
}