@media all and (min-width: 320px) {
  #map {
    margin-top 70px
    .map {
      height 225px
      position relative
      &-title {
        font-size 26px
        text-align center
        text-transform uppercase
      }
      &--yandex {
        width 100%
        height 100%
        pointer-events none
      }
      .no-click {
        top 0
        width 100%
        height 100%
        position absolute
      }
    }
  }
}

@media all and (min-width: 768px) {
  #map {
    .map {
      margin-top 0
      height 600px
      &-title {
        font-size 36px
      }
    }
  }
}

@media all and (min-width: 992px) {
  #map {
    .map {
      &-title {
        font-size 36px
      }
    }
  }
}