@media all and (min-width: 320px) {
  .rules {
    &-title {
      font-size 24px
      margin-top 35px
    }
    &-subtitle {
      font-size 20px
    }
  }
  #rules {
    margin-bottom 35px
    .rules {
      &-text {
        font-size 18px
        &-title {
          font-size 20px
        }
      }
    }
  }
}

@media all and (min-width: 576px) {
  .rules {
    &-title {
      font-size 36px
    }
    &-subtitle {
      font-size 28px
    }
  }
}