mixin productTemplate(product)
    section#product
        .container
            .row
                .col.col-12.col-lg-6
                    img(src="/img/catalog/2.jpg" alt="Продукт")
                .col.col-12.col-lg-6
                    for count in catalog
                        for p in count
                            if(product === p.title)
                                .product-card
                                        h1.product-card__title #{p.title}
                                        p.product-card__desc
                                            strong.title Задача
                                            | #{p.desc}
                                        p.product-card__price
                                            strong.title Стоимость работ
                                            | &#8381; #{p.price}
                                        p.product-card__create
                                            strong.title Срок изготовления
                                            | #{p.createdBy} Дней

mixin worksStages
    //- всегда ли этот блок одинаковый в плане изображений(их количества и самих фото)
        Если фото будут разные, то тогда в каталоге img/pages/products создаем папку work/kruteckiy-stol
    section#worksStages
        .container
            .row.justify-content-center
                .col.col-12.col-lg-10
                    .concept
                        img(src="" alt="").concept--photo
                    .models
                        img(src="" alt="").models--photo
                    .creating
                        img(src="" alt="").creating--photo
                    .handmade-work
                        img(src="" alt="").handmade-work--photo
                    .result
                        img(src="" alt="").result--photo