extends ../template

include mixins

block head
    include ../../modules/mobile-menu
    .container
        .row.align-items-center
            .col.col-9.col-lg-5
                include ../../modules/header/logo
            .col.col-3.col-lg-5.col-xl-4
                include ../../modules/header/menu
            .col.col-lg-2.col-xl-3
                include ../../modules/header/callback

block content
    block main

block footer
    .container
        .row.align-items-center
            .col.col-lg-12
                .row.align-items-center
                    .col.col-lg-3.d-none.d-lg-block
                        include ../../modules/footer/logo
                    .col.col-12.col-lg-7.order-2.order-lg-1
                        .wrapper
                            .wrapper-inner
                                include ../../modules/footer/menu
                                include ../../modules/footer/contacts
                            include ../../modules/footer/socials
                    .col.col-12.col-lg-2.order-1.order-lg-2
                        include ../../modules/footer/callback
    include ../../modules/footer/copyright